{% extends "base.html" %}

{% block title %}
<title>
	文章テンプレ  
</title>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'analytics/styles/generation.css' %}">
{% endblock %}

{% block content %}


<div class="contents">
    <div class="title">
    </br>
    </br>
        <h1>サステナビリティ文章テンプレ</h1>
    </br>
    </br>
    </div>
    {% if session %}
    <div class="form">
    <form  method="post" action="{% url 'generation' %}">
        {% csrf_token %}
        <div class="industry-selection">
            <div>
            </br>
                <h3>サステナビリティ文章テンプレを表示したい業界を選んでください。
                </h3>
            </br>
            </div>
            <select name="set_industry" id="industrySelect" onchange="fetchDefaultSettings()">
                <option value="{{section1}}">{{section1.industry}}</option>
                {% for industry in industries %}
                    <option  value="{{ industry }}">{{ industry }}</option>
                {% endfor %}
            </select>
            <div>
            </br>
                <h3>
                    サステナビリティの文章を、金融庁が公表している有価証券報告書の記載事項である </br></br>
                    １）ガバナンス ２）戦略 3）人材育成や社内環境整備方針 ４）リスク管理 ５）指標及び目標 ６）人的資本の目標 </br></br>
                    の６つの項目に分けてテンプレで表示する。</br>
                </br>
                    6つの項目を合わせた文章はページ最下部で参照可能である。</br>
                </h3>
            </br>
        </div>
        <div class="each_contianer">    
            <h2 class="section" name="term1" id="1_0" >{{section1.heading}}</h2>
            <div class="output-area" id="outputText">
                <div class="output-text">
                    <textarea id="1_6" name="category1_6"  placeholder="小売業界の指標及び目標のデフォルトの文章">
                        {% if response_sentence_1 %}
                                {{ response_sentence_1 }}
                        {% else %}
                            {{section1.default_sentence}}
                        {% endif %}
                    </textarea>
                </div>
            </div>
        </div>
        <div class="each_contianer">    
            <h2 class="section" name="term12" id="2_0" >{{section2.heading}}</h2>
            <div class="output-area" id="outputText">
                <div class="output-text">
                    <textarea id="2_6" name="category2_6"  placeholder="小売業界の指標及び目標のデフォルトの文章">
                        {% if response_sentence_2 %}
                                {{ response_sentence_2 }}
                        {% else %}
                            {{section2.default_sentence}}
                        {% endif %}
                    </textarea>
                </div>
            </div>
        </div>
        <div class="each_contianer">    
            <h2 class="section" name="term3" id="3_0" >{{section3.heading}}</h2>
            <div class="output-area" id="outputText">
                <div class="output-text">
                    <textarea id="3_6" name="category3_6"  placeholder="小売業界の指標及び目標のデフォルトの文章">
                        {% if response_sentence_3 %}
                                {{ response_sentence_3 }}
                        {% else %}
                            {{section3.default_sentence}}
                        {% endif %}
                    </textarea>
                </div>
            </div>
        </div>
        <div class="each_contianer">    
            <h2 class="section" name="term4" id="4_0" >{{section4.heading}}</h2>
            <div class="output-area" id="outputText">
                <div class="output-text">
                    <textarea id="4_6" name="category4_6"  placeholder="小売業界の指標及び目標のデフォルトの文章">
                        {% if response_sentence_4 %}
                                {{ response_sentence_4 }}
                        {% else %}
                            {{section4.default_sentence}}
                        {% endif %}
                    </textarea>
                </div>
            </div>
        </div>
        <div class="each_contianer">    
            <h2 class="section" name="term5" id="5_0" >{{section5.heading}}</h2>
            <div class="output-area" id="outputText">
                <div class="output-text">
                    <textarea id="5_6" name="category5_6"  placeholder="小売業界の指標及び目標のデフォルトの文章">
                        {% if response_sentence_5 %}
                                {{ response_sentence_5 }}
                        {% else %}
                            {{section5.default_sentence}}
                        {% endif %}
                    </textarea>
                </div>
            </div>
        </div>
        <div class="each_contianer">    
            <h2 class="section" name="term6" id="6_0" >{{section6.heading}}</h2>
            <div class="output-area" id="outputText">
                <div class="output-text">
                    <textarea id="6_6" name="category6_6"  placeholder="小売業界の指標及び目標のデフォルトの文章">
                        {% if response_sentence_6 %}
                                {{ response_sentence_6 }}
                        {% else %}
                            {{section6.default_sentence}}
                        {% endif %}
                    </textarea>
                </div>
            </div>
        </div>

    </form>
    </div>
    <div class="generated_sentence">
        <h2>テンプレ文章全体</h2>
        <h4 class="innercontents" id="combinedText">
            {% if response_sentence_6 %}
                {{ response_sentence_1 }}+{{ response_sentence_2 }}+{{ response_sentence_3 }}+{{ response_sentence_4 }}+{{ response_sentence_5 }}+{{ response_sentence_6 }}
            {% else %}
                {{section1.default_sentence}}+{{section2.default_sentence}}+{{section3.default_sentence}}+{{section4.default_sentence}}+{{section5.default_sentence}}+{{section6.default_sentence}}
            {% endif %}

        </h4>
    </div>

    {% else %}
    ログイン後利用可能です。
    <a href="{% url 'login' %}">ログインはこちら</a>
    {% endif %}
    
</div>

<script>
// JavaScriptコード
function fetchDefaultSettings() {
    const industry = document.getElementById('industrySelect').value;
    fetch(`get-settings/?industry=${industry}`)
        .then(response => response.json())
        .then(data => {
            const settingsList = document.getElementById('settingsList'+ String(1));
            var i = 1;
            
            data.settings.forEach(setting => {
                const heading = document.getElementById(String(i)+"_0");
                const defaultsentence = document.getElementById(String(i)+"_6");

                heading.innerHTML = `<strong>${setting.heading}</strong>`;
                defaultsentence.innerHTML = `${setting.default_sentence}`;
                
                i += 1;
                
            });
            
        });
}
function updateCombinedText() {
        var text1 = document.getElementById('1_6').value;
        var text2 = document.getElementById('2_6').value;
        var text3 = document.getElementById('3_6').value;
        var text4 = document.getElementById('4_6').value;
        var text5 = document.getElementById('5_6').value;
        var text6 = document.getElementById('6_6').value;
        document.getElementById('combinedText').textContent = text1 + " " + text2 + " " + text3 + " " + text4 + " " + text5 + " " + text6;
    }

    document.getElementById('1_6').addEventListener('input', updateCombinedText);
    document.getElementById('2_6').addEventListener('input', updateCombinedText);
    document.getElementById('3_6').addEventListener('input', updateCombinedText);
    document.getElementById('4_6').addEventListener('input', updateCombinedText);
    document.getElementById('5_6').addEventListener('input', updateCombinedText);
    document.getElementById('6_6').addEventListener('input', updateCombinedText);
    
    // 初期表示時にもテキストを更新
    updateCombinedText();

</script>


{% endblock %}
