{% extends "base.html" %}

{% block title %}
<title>
	検索ページ    
</title>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'analytics/styles/search.css' %}">
{% endblock %}

{% block content %}


<div class="contents">
    <div class="app_title">
        <h1>
            サスレポ
        </h1>
    </div>
    <div class="button-explain">
        <h3>
            まずは、あなたの企業•競合他社の有価証券報告書のサステナビリティ章のコンテンツを診断してみましょう。</br>
            有価証券報告書のサステナビリティ章に盛り込むべき内容•分量を、業界の競合他社と比較して改善に繋げましょう。
        </h3>
        
    </div>
    <div class="search-container">
        <form method="get" action="{% url 'search' %}">
            <input type="text" name="q" placeholder="企業名で検索" class="search-box">
            <button type="submit" class="search-button">検索</button>
        </form>
    </div>
    <div class="company_suggestion">
        <div>
        {% if companies %}
            <h3>
                以下から、企業を選択してください
            </h3>
            <ul class="pop-list">
                {% for company in companies %}
                <li class="pop-item">
                    <a class="pop-link" href="{% url 'company_detail' company.id %}">{{ company.company_name }}</a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>
    <div class="sentence">
        <h3>
            分析の結果、あなたの企業の有価証券報告書のサステナビリティ章のコンテンツに足りていない内容がわかりました。</br>
            次は、生成AI（chat-GPT）を用いて、サステナビリティ章のコンテンツを自動生成してみましょう。
        </h3>
    </div>

    <div class="generation-container">
        <form method="get" action="{% url 'generation' %}">
            <button type="submit" class="generation-button">生成する</button>
        </form>
    </div>

</div>


{% endblock %}