{% extends "base.html" %}

{% block title %}
<title>
	例文    
</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'analytics/styles/sentenceexample.css' %}">
{% endblock %}


{% block content %}

<div class="contents">
    <h2 class="industry">{{ industry }}</h2>
    <h2 class="keyword" id="keyword">{{ keyword }}</h2>
    <h4>{{ industry }}業界の{{ keyword }}に関する記載がある企業のサステナビリティに関する記述を表示している。これをもとに、同業界の競合他社がどのようなサステナビリティの活動をして、どのような記述を行っているかがわかる。</h2>
    <h4 class="explain">※赤文字でキーワードをハイライトしている</h4>
    <div class="ex1">
        <h2 class="company1">{{ example_company1.company_name }}</h2>
        <h4 class="text1" id="text1">{{ example_company1.sustainability_approach }}</h4>
    </div>

    <div class="ex2">
        <h2 class="company2">{{ example_company2.company_name }}</h2>
        <h4 class="text2" id="text2">{{ example_company2.sustainability_approach }}</h4>
    </div>
</div>

<script>
    window.onload = function() {
        var paragraph1 = document.getElementById("text1");
        var paragraph2 = document.getElementById("text2");
        var keyword = document.getElementById("keyword").innerHTML;
        var text1 = paragraph1.innerHTML;
        var text2 = paragraph2.innerHTML;
        var modifiedText1 = text1.replaceAll(keyword, '<span style="color: red;font-weight: bold; font-size: 125%;">'+keyword+'</span>');
        var modifiedText2 = text2.replaceAll(keyword, '<span style="color: red;font-weight: bold; font-size: 125%;">'+keyword+'</span>');
        paragraph1.innerHTML = modifiedText1;
        paragraph2.innerHTML = modifiedText2;
    };
</script>

{% endblock %}