
char_num_table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
   }
   .char_num_table tr:nth-child(2n+1) {
    background: #e9faf9;
   }
   .char_num_table th {
    padding: 10px;
    background: #778ca3;
    border-right: solid 1px #778ca3;
    color: #ffffff;
   }
   .char_num_table th:last-child {
    border-right: none;
   }
   .char_num_table td {
    padding: 10px;
    border-right: solid 1px #778ca3; 
   }
   .char_num_table td:last-child {
    border-right: none;
   }
  
  table {
    width: 100%; /* 表の幅を画面幅の90%に設定 */
    border-collapse: collapse;
    margin: 0 auto 20px auto; /* 上下に20px、左右に自動でマージンを設定 */
  }
  
  th, td {
    border: 2px solid #000; /* 境界線を太くする */
    padding: 10px; /* セルのパディングを増やす */
    text-align: center;
    background-color: white; /* セルの背景色を変更 */
    color: #000080;
   /* フォントの色を変更 */
  } 
  td {
  width: 12%; /* ヘッダーカラムの背景色を灰色に変更 */
  } 
  
  .major_class{
    width: 13%;
  }
  
  th {
  background-color: #ddd;
  }
  
  .table-header {
    background-color:rgb(244, 98, 122);
  }
  
  .compamy_num_column{
    background-color: rgb(239, 188, 188);
  }
    
  /* 行や列のホバー効果 */
  td:hover {
    background-color: #FF69B4;
  }